<div>

  <h1>Projects</h1>

  <%= link_to 'New Project', new_project_path %>

  <div id="projects">
    <% @projects.each do |project| %>
      <%= render 'projects/project', project: project %>
    <% end %>
  </div>

<br>

<script>
  console.log('index');

  $('#projects').append('<%= escape_javascript(render 'projects/form') %>');

</script>